.cart {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 936px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.cart__heading {
  margin: 0;
  padding: 0;

  font-family: $amatic;
  font-weight: 700;
  font-style: normal;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  color: rgba($trueBlack, 0.88);

  @media screen and (min-width: 720px) {
    font-size: 112px;
    line-height: 120px;
    letter-spacing: -2px;
  }
}
.cart__list {
  margin: 48px 0 0;
  padding: 0;
  display: grid;
  grid-row-gap: 16px;
  align-self: center;
  width: 100%;
  max-width: 936px;

  list-style: none;

  @media screen and (min-width: 720px) {
    grid-row-gap: 24px;
  }
}

.cart__item {
  margin: 0;
  padding: 0;
}

.cart__tip {
  margin: 48px 0 0;
}

.cart__form {
  margin: 48px 0 0;
}
