.err-wrapper {
    min-width: 100vh;
}

.err-content {
    margin: 204px auto 388px;
    padding: 0;
    text-align: center;
    align-items: center;
}

.err-content__title {
    margin: 0 0 16px 0;
    padding: 0;
}

.err-content__title--text {
    margin: 0;
    padding: 0;
    font-family: $amatic;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: rgba($trueBlack, 0.88);
    @media screen and (min-width: 720px) {
        font-size: 80px;
        line-height: 88px;
        letter-spacing: -1px;
    }
}

.err-content__subtitle {
    margin: 0 0 48px 0;
    padding: 0;
}

.err-content__subtitle--text {
    margin: 0;
    padding: 0;
    font-family: $ubuntu;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba($trueBlack, 0.88);
}

.err-content__btn {
    position: relative;

    text-align: left;

    padding: 0 20px 2px 24px;
    width: 164px;
    height: 56px;
    background: $yellowMain;
    border-radius: 12px;

    &::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 120px;

        display: block;
        width: 24px;
        height: 24px;

        background-image: url("../img/arrow-narrow-right.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
}

.err-content__btn--text {
    font-family: $ubuntu;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: rgba($trueBlack, 0.88);
}