.header {
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__inner {
  box-sizing: border-box;
  margin: 0;
  padding: 0 4px 0 16px;
  width: 100%;
  max-width: 1872px;
  min-height: 56px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  background-color: $trueWhite;
  box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.06),
  0px 12.3259px 25.4815px rgba(0, 0, 0, 0.0364444),
  0px 2.60741px 6.51852px rgba(0, 0, 0, 0.0235556);

  @media screen and (min-width: 720px) {
    padding: 0 12px 0 24px;
    min-height: 80px;
  }

  @media screen and (min-width: 1200px) {
    margin: 16px 24px 0 24px;
    padding: 0 40px;

    border-radius: 12px;
  }
}

.header__logo {
  margin: 0;
  padding: 0;
  width: 138px;

  @media screen and (min-width: 720px) {
    width: 168px;
  }
}

.header__logo-img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.header__site-nav-wrapper {
  position: relative;

  margin: 0;
  padding: 0;
}

.header__site-nav {
  margin: 0;
  padding: 0;

  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.header__user-nav {
  margin: 0;
  padding: 0;
}
