.hto-content {
    margin: 0;
    padding: 0;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

// Стили для заголовка
.hto__heading {
    padding: 0;
    margin: 48px auto;

    font-family: $amatic;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    color: rgba($trueBlack, 0.88);

    @media screen and (min-width: 720px) {
        font-weight: 700;
        font-size: 112px;
        line-height: 120px;
        letter-spacing: -2px;
        margin: auto;
    }
}

// Стили для блока "Инфо" ( bgc: cyan-info )
.hto__info {
    position: relative;
    background-color: $cyan-info;
    border-radius: 12px;

    display: flex;
    margin: 0 16px 120px 16px;

    max-width: 936px;

    @media screen and (min-width: 720px) {
        margin: 0 48px 120px 48px;
    }
    @media screen and (min-width: 843px) {
        align-items: center;
    }
    @media screen and (min-width: 969px) {
        margin: 0 auto 120px;
    }
}

.info__img {
    position: absolute;
    margin: 24px 0 0 24px;
    @media screen and (min-width: 843px) {
        margin: 0 0 0 24px;
    }
}

.info__text {
    margin: 0 24px 0 96px;

    font-family: $ubuntu;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: rgba($color: $trueBlack, $alpha: 0.88);
}

// Стили для Блока с инструкцией "Всё просто:"
.test {
    margin: auto;
}

.instruction {
    margin: 0 16px;
    text-align: left;
    @media screen and (min-width: 720px) {
        margin: 0 48px 0 48px;
    }
    @media screen and (min-width: 969px) {
        margin: 0 auto;
        width: 936px;
    }
}

.instruction__title {
    margin: auto;
    padding: 0;

    font-family: $amatic;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    color: rgba($trueBlack, 0.88);

    @media screen and (min-width: 720px) {
        font-weight: 700;
        font-size: 80px;
        line-height: 88px;
        letter-spacing: -1px;
    }
}

.instruction__list {
    margin: 6px 0 120px 0;
    padding: 18px;
}

.list__item {
    margin: 16px 0;
    padding: 0 0 0 56px;

    font-family: $ubuntu;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    color: rgba($color: $trueBlack, $alpha: 0.88);
    &:first-child {
        margin: 0 0 16px 0;
    }
    &:last-child {
        margin: 16px 0 0 0;
    }
}

.list__item__link {
    color: rgba($color: $trueBlack, $alpha: 0.88);
}

// Стили для Блока с картинкой "Доставим вино в нашей крафтовой упаковке."

.delivery {
    margin: 0 16px;
    padding: 0;
    text-align: center;
    width: 100%;
    color: rgba($color: $trueBlack, $alpha: 0.6);

    @media screen and (min-width: 720px) {
        margin: 0 auto;
        max-width: 796px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 936px;
    }
}

.delivery__img__shell {
    width: 100%;
    max-width: 936px;
}

.delivery__img {
    width: 100%;
}

.delivery__desc {
    margin: 0 24px;
}

.delivery__textBlock {
    text-align: left;
    margin: 120px 16px 0 16px;
    padding: 0 16px;
    max-width: 936px;
    @media screen and (min-width: 720px) {
        margin: 120px 48px 0 48px;
    }
    @media screen and (min-width: 969px) {
        margin: 120px auto 0;
    }
}

.delivery__textBlock__title {
    margin: auto;
    padding: 0;

    font-family: $amatic;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    color: rgba($trueBlack, 0.88);

    @media screen and (min-width: 720px) {
        font-weight: 700;
        font-size: 80px;
        line-height: 88px;
        letter-spacing: -1px;
    }
}

.delivery__textBlock__text {
    font-family: $ubuntu;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    color: rgba($trueBlack, 0.88);
}

.delivery-info {
    background-color: $amber;
    margin: 0 16px 120px 16px;
    display: flex;
    border-radius: 12px;

    max-width: 936px;

    @media screen and (min-width: 720px) {
        margin: 0 48px 120px 48px;
    }
    @media screen and (min-width: 843px) {
        align-items: center;
    }
    @media screen and (min-width: 969px) {
        margin: auto;
    }
}

.delivery-info__img {
    position: absolute;
    margin: 24px 0 0 24px;
    @media screen and (min-width: 598px) {
        margin: 16px 0 0 24px;
    }
    @media screen and (min-width: 843px) {
        margin: 3px 0 0 24px;
    }
}

.delivery-info__text {
    margin: 0 24px 0 96px;

    font-family: $ubuntu;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: rgba($color: $trueBlack, $alpha: 0.88);
}

.hto-content__inst {
    margin: 120px 0 0 0;
    @media screen and (min-width: 720px) {
        margin: 120px auto;
    }
}