.main-content__link {
    margin: 0 16px 120px 16px;
}

.link__content {
    border: 8px dashed #f5f5f5;
    padding: 48px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.link__title {
    font-family: $ubuntu;
    font-size: 24px;
    color: rgba($color: $trueBlack, $alpha: 0.88);
    margin: 0 0 8px 0;
}

.link__subtitle {
    font-family: $ubuntu;
    font-size: 24px;
    color: rgba($color: $trueBlack, $alpha: 0.6);
    margin: 0 0 40px 0;
}

.link__text {
    font-size: 24px;
}

.link__btn {
    width: 207px;
    height: 56px;
    background-color: #FFCA28;
    border-radius: 12px;

}

@media screen and (min-width: 720px) {
    .link__title {
        @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
        font-family: 'Amatic SC', cursive;
        font-size: 56px;
    }
}

@media screen and (min-width: 854px) {
    .main-content__link {
        margin: 0 auto 120px;
    }
}