.main-content {
  margin: 0;
  padding: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-content__keyvisual {
  margin: 0;
  padding: 0;
}

.main-content__excerpt {
  margin: 120px auto 0;
  padding: 0 16px;

  @media screen and (min-width: 720px) {
    padding: 0;
  }
}

.main-content__recommend-products {
  margin: 120px auto 0;
  padding: 0 16px;
}

.main-content__regions-block {
  margin: 120px auto 0;
  padding: 0 16px;

  @media screen and (min-width: 720px) {
    padding: 0 48px;
  }
}

.main-content__inst {
  margin: 120px auto 0;
  padding: 0 16px;

  @media screen and (min-width: 720px) {
    padding: 0 48px;
  }
}

.main-content__catalog {
  margin: 24px auto 0;
  padding: 0 16px;

  @media screen and (min-width: 1200px) {
    margin: 48px auto 0;
  }
}

.main-content__wine-desc {
  margin: 0;
  padding: 0;
}

.main-content__description {
  margin: 120px auto 0;
  padding: 0 16px;

  @media screen and (min-width: 720px) {
    padding: 0 48px;
  }
}

.main-content__same-vine {
  margin: 120px auto 0;
  padding: 0 16px;
}

.main-content__manufacturer-info {
  margin: 64px auto 0;
  padding: 0 16px;

  @media screen and (min-width: 720px) {
    padding: 0 48px;
  }
}

.main-content__breadcrumbs {
  margin: 80px auto 0;
  padding: 0 16px;

  @media screen and (min-width: 720px) {
    margin: 104px auto 0;
    padding: 0 48px;
  }

  @media screen and (min-width: 1200px) {
    margin: 144px auto 0;
  }
}

.main-content__order-layout {
  margin: 48px auto 0;
  padding: 0 16px;

  @media screen and (min-width: 720px) {
    margin: 64px auto 0;
    padding: 0 48px;
  }

  @media screen and (min-width: 1200px) {
    margin: 40px auto 0;
  }
}

.main-content__heading {
  box-sizing: border-box;
  margin: 48px auto 0;
  padding: 0 16px;
  max-width: 1416px;

  font-family: $amatic;
  font-weight: 700;
  font-style: normal;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  color: rgba($trueBlack, 0.88);

  @media screen and (min-width: 720px) {
    margin: 64px auto;
    padding: 0 48px;

    font-size: 112px;
    line-height: 120px;
    letter-spacing: -2px;
  }
}

.main-content__region-description {
  margin: 48px auto 0;
  padding: 0 16px;

  @media screen and (min-width: 720px) {
    padding: 0 48px;
  }
}

.main-content__manufacturers-layout {
  margin: 120px auto 0;
  padding: 0 16px;

  @media screen and (min-width: 720px) {
    padding: 0 48px;
  }
}

.main-content__contacts-description {
  margin: 48px auto 0;
  padding: 0 16px;
  max-width: 936px;

  @media screen and (min-width: 720px) {
    padding: 0 48px;
  }
}

.main-content__contacts {
  margin: 48px auto 0;
  padding: 0 16px;

  @media screen and (min-width: 720px) {
    padding: 0 48px;
  }
}

.main-content__err-document {
  margin: 0;
  padding: 0;
}

.main-content__policy {
  margin: 104px auto 0;
  padding: 0 16px;

  @media screen and (min-width: 720px) {
    margin: 128px auto 0;
    padding: 0 48px;
  }

  @media screen and (min-width: 1200px) {
    margin: 216px auto 0;
  }
}

.main-content__favorite {
  margin: 48px auto 0;
  padding: 0 16px;

  @media screen and (min-width: 720px) {
    margin: 64px auto 0;
    padding: 0 48px;
  }

  @media screen and (min-width: 1200px) {
    margin: 40px auto 0;
  }
}

.main-content__cart {
  margin: 48px auto 0;
  padding: 0 16px;

  @media screen and (min-width: 720px) {
    margin: 64px auto 0;
    padding: 0 48px;
  }

  @media screen and (min-width: 1200px) {
    margin: 40px auto 0;
  }
}
