.main-content {
  margin: 0;
  padding: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-content__keyvisual {
  margin: 0;
  padding: 0;
}

.main-content__excerpt {
  margin: 120px auto 0;
  padding: 0 16px;

  @media screen and (min-width: 720px) {
    padding: 0;
  }
}

.main-content__recommend-products {
  margin: 120px auto 0;
  padding: 0 16px;
}

.main-content__regions-block {
  margin: 120px auto 0;
  padding: 0 16px;
}

.main-content__inst {
  margin: 120px auto 0;
  padding: 0 16px;
}

.main-content__catalog {
  margin: 24px auto 0;
  padding: 0 16px;

  @media screen and (min-width: 1200px) {
    margin: 48px auto 0;
  }
}
