.menu-dropdown {
  margin: 0;
  padding: 0;
  width: 600px;

  border-collapse: collapse;

  background: $trueWhite;
  box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.06),
  0px 12.3259px 25.4815px rgba(0, 0, 0, 0.0364444),
  0px 2.60741px 6.51852px rgba(0, 0, 0, 0.0235556);
  border-radius: 12px;
}

.menu-dropdown__table-head {
  margin: 0;
  padding: 0;
}

.menu-dropdown__table-body {
  margin: 0;
  padding: 16px 0;
}

.menu-dropdown__row {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.menu-dropdown__item {
  margin: 0;
  padding: 0;
}

.menu-dropdown__heading {
  margin: 0;
  padding: 24px;

  font-family: $ubuntu;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-align: left;
  color: rgba($trueBlack, 0.6);

  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  &:not(:first-child) {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.menu-dropdown__item {
  margin: 0;
  padding: 12px 24px;
  text-align: left;

  &:not(:first-child) {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.menu-dropdown__link {
  margin: 0;
  padding: 0;

  font-family: $ubuntu;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.25px;
  text-decoration: none;
  color: rgba($trueBlack, 0.88);
}
