.offcanvas {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;

  background-color: rgba($trueBlack, 0.5);

  transform: translateX(100%);
  @include smooth;

  &--opened {
    transform: translateX(0);
  }
}

.offcanvas__window {
  box-sizing: border-box;
  margin: 0;
  padding: 16px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow-y: scroll;

  background-color: $trueWhite;
}

.offcanvas__list {
  margin: auto 0;
  padding: 0;
  display: grid;
  grid-row-gap: 16px;

  list-style: none;
}

.offcanvas__item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

.offcanvas__toggle-button,
.offcanvas__link {
  box-sizing: border-box;
  margin: 0;
  padding: 7px 24px;

  font-family: $amatic;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 48px;
  text-align: left;
  text-decoration: none;
  color: rgba($trueBlack, 0.88);

  background: none;
  border: none;

  cursor: pointer;
}

.offcanvas__toggle-button {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 24px;

    display: block;
    width: 24px;
    height: 24px;

    background-image: url("../img/chevron-down.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.offcanvas__toggle-inner {
  margin: 0;
  padding: 0;
  display: none;

  &--opened {
    display: block;
  }
}

.offcanvas__wine-type {
  margin: 16px 0 0;
  padding: 0;
}
