.user-nav {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 48px 48px 48px;
  grid-template-rows: 48px;
  grid-column-gap: 4px;

  list-style: none;

  @media screen and (min-width: 720px) {
    grid-column-gap: 16px;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 48px 48px;
  }
}

.user-nav__item {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;

  @media screen and (min-width: 1200px) {
    &--burger-wrapper {
      display: none;
    }
  }
}

.user-nav__cart-link {
  position: relative;

  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../img/shopping-cart.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.user-nav__favorite-link {
  position: relative;

  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../img/heart.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.user-nav__burger-button {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  background-image: url("../img/burger.svg");
  background-position: center center;
  background-repeat: no-repeat;
  border: none;

  cursor: pointer;
}

.user-nav__cart-counter,
.user-nav__favorite-counter {
  position: absolute;
  top: 4px;
  right: 0;

  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-align: left;

  background: $yellowMain;
  border-radius: 50%;
}
