$trueBlack: #000000;
$trueWhite: #ffffff;

$gray40: #F5F4F2;
$gray50: #F0EEEB;
$gray300: #B2B0AB;
$gray400: #989691;
$gray750: #383736;
$green500: #64B851;
$green20: #F2FAF0;
$red500: #EB4B51;
$red20: #FAF0F0;
$blue500: #2794DB;
$primary500: #FAC62D;
$primary700: #F0B505;
$primary800: #E1AB08;