$amatic: 'AmaticSC', sans-serif;
$ubuntu: 'Ubuntu', 'Tahoma', sans-serif;

$trueBlack: #000000;
$trueWhite: #ffffff;
$yellowMain: #FFCA28;
$cyan: #26C6D6;
$cyan-info: #E0F7FA;
$amber: #FFF8E1;
$green: #9CCC65;

$gray: #F5F5F5;
